.row {
  position: absolute;
}

.square {
  position: absolute;
  background-color: darkgreen;
  border: 1px solid black;
}

.square:hover {
  background-color: green;
}

.zombie {
  position: absolute;
  background-image: url('images/zombie-1.png');
  background-size: 47%;
  background-repeat: no-repeat;
  pointer-events: none;
  background-position-y: bottom;
}

.zombie[type="1"]{
  background-image: url('images/zombie-2.png');
  background-size: 45%;
}

.eating {
  animation: shake 0.4s infinite linear;;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  25%, 75% {
    transform: translate3d(-1px, 0, 0);

  }
  
  50% {
    transform: translate3d(-4px, 0, 0);
    transform: skewX(10deg);
  }
 
}

.plant {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('images/cherry.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  
}

.green-light {
  background-color: #0fbe1b
}

.green-med {
  background-color: #019d17
}

.green-dark {
  background-color: #0a8d13;
}

.debugger {
  color: lightgreen;
  /* background-color: black; */
  width: 200px;
  height: 100px;
}


